@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .clip_path {
        clip-path: polygon(100% 0%, 0% 0% , 0.00% 96.67%, 2.00% 96.46%, 4.00% 95.89%, 6.00% 95.10%, 8.00% 94.29%, 
        10.00% 93.65%, 12.00% 93.35%, 14.00% 93.45%, 16.00% 93.94%, 18.00% 94.69%, 20.00% 95.52%, 22.00% 96.21%, 
        24.00% 96.61%, 26.00% 96.61%, 28.00% 96.21%, 30.00% 95.52%, 32.00% 94.69%, 34.00% 93.94%, 36.00% 93.45%, 
        38.00% 93.35%, 40.00% 93.65%, 42.00% 94.29%, 44.00% 95.10%, 46.00% 95.89%, 48.00% 96.46%, 50.00% 96.67%, 
        52.00% 96.46%, 54.00% 95.89%, 56.00% 95.10%, 58.00% 94.29%, 60.00% 93.65%, 62.00% 93.35%, 64.00% 93.45%, 
        66.00% 93.94%, 68.00% 94.69%, 70.00% 95.52%, 72.00% 96.21%, 74.00% 96.61%, 76.00% 96.61%, 78.00% 96.21%, 
        80.00% 95.52%, 82.00% 94.69%, 84.00% 93.94%, 86.00% 93.45%, 88.00% 93.35%, 90.00% 93.65%, 92.00% 94.29%, 
        94.00% 95.10%, 96.00% 95.89%, 98.00% 96.46%, 100.00% 96.67%);
    }
    .heading {
        @apply text-[30px] md:text-[35px] lg:text-[45px] xl:text-[50px] uppercase 
        font-bold text-gray-900 md:leading-[4rem] leading-[3rem] text-center
    }
}

.popular-beer-carousel {
    @apply p-4
}

input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

input[type="time"]::-webkit-calendar-picker-indicator {
    filter:invert(1);
}

input[type="time"]::-webkit-calendar-picker-indicator::after {
    filter:invert(1);
}